@charset "utf-8";
.container-main  {
    max-width: 1280px;
}
h1, h2, h3, h4, h5, h6 , p{
    color: #FAFAFB;
}
card-image {
    padding-top: 1.25rem;
}
title {
    padding-top: 1.25rem;
    margin-top: 1.25rem;

}
footer-pad {
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    min-height: 500px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
