@charset "utf-8";
.container-main  {
    max-width: 1280px;
}
h1, h2, h3, h4, h5, h6 , p{
    color: #FAFAFB;
}
card-image {
    padding-top: 1.25rem;
}
title {
    padding-top: 1.25rem;
    margin-top: 1.25rem;

}
